@charset "UTF-8";
/*------------------------------------*\
	hry.rbrts.me
\*------------------------------------*/
/*
Author:             Harry Roberts
Twitter:            @csswizardry
Author URL:         csswizardry.com
Version:            1.0
Date:               25 July 2011

Copyright 2011 Harry Roberts
*/





/*------------------------------------*\
	RESET
\*------------------------------------*/
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
	margin:0;
	padding:0;
}
article,aside,details,figcaption,figure,footer,
header,hgroup,menu,nav,section{
	display: block;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img{
	border:0;
}
address,caption,cite,dfn,th,var{
	font-style:normal;
	font-weight:normal;
}
caption,th{
	text-align:left;
}
h1,h2,h3,h4,h5,h6{
	font-size:100%;
	font-weight:normal;
}
q:before,q:after{
	content:'';
}
abbr,acronym{
	border:0;
}

/*--- CLEARFIX ---*/
/* http://nicolasgallagher.com/micro-clearfix-hack/ */
/* For modern browsers */
.cf:before,
.cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf{
    zoom:1;
}





/*------------------------------------*\
	MAIN
\*------------------------------------*/
html{
	font:400 1em/1.5 skolar, Cambria, Georgia, "Times New Roman", serif; /* 16px with 24px line-height. 24px is therefore my magic number and will define paddings, margins and other spacing. Look out for it later on! */
	color:#333;
	height:100%; /* Ensure it's always full-height so as to not crop the background images. */
	overflow-y:scroll; /* Force scrollbars all the time to avoid page jumps. */
	background-color:#fff;
	background-position:left center;
	background-repeat:repeat;
	background-attachment:fixed;
	
	-moz-background-size:cover;
	-webkit-background-size:cover;
	background-size:cover;
}

/* Grab some nice big background images from Flickr */
#bg-1	{ background-image:url(http://farm5.static.flickr.com/4005/4706825697_c0367e6dee_b.jpg); }
#bg-2	{ background-image:url(http://farm3.static.flickr.com/2741/4281699291_777192cd9f_b.jpg); }
#bg-3	{ background-image:url(http://farm5.static.flickr.com/4017/4717107886_dcc1270a65_b.jpg); }
#bg-4	{ background-image:url(http://farm5.static.flickr.com/4116/4877345244_6cf40b2d42_b.jpg); }

body{
	padding:5%;
	background:url(../img/css/dot.gif) fixed; /* Lay a one pixel dot over every other pixel so as to lessen the visible effects of stretched and pixelated background images. */
}

/* Fluid width, three-col wrapper. */
#page{
	max-width:1200px;
	-moz-column-count:3;
	-moz-column-gap:1.5em; /* 24px */
	-webkit-column-count:3;
	-webkit-column-gap:1.5em; /* 24px */
	column-count:3;
	column-gap:1.5em; /* 24px */
}





/*------------------------------------*\
	ARTICLES
\*------------------------------------*/
/*
Contain each section of the page in an article.
*/
article{
	display:inline-block;
	background:#fff;
	width:87.5%;
	padding:6.25%; /* 24px (at 100%) */
	margin-bottom:1.5em; /* 24px */
	
	-moz-box-shadow:5px 5px 0 rgba(0,0,0,0.2);
	-webkit-box-shadow:5px 5px 0 rgba(0,0,0,0.2);
	box-shadow:5px 5px 0 rgba(0,0,0,0.2);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
}

/* Remove the margin-bottom from the last child in an article to remove the compounding effect of child-margins plus parent-paddings. */
article > :last-child{
	margin-bottom:0;
}

/* The intro (first) article has no background and thus requires no paddings etc. */
.intro{
	width:100%;
	background:none;
	padding:0;
	
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
}





/*------------------------------------*\
	LOGO
\*------------------------------------*/
#logo{
	display:block;
	width:100px;
	height:100px;
	border:none;
	float:left;
	margin-right:1.5em; /* 24px */
}

/* If we know the background is dark let's move the background image to give us a lighter logo. */
#bg-3 #logo,
#bg-4 #logo	{ background-position:left bottom; }

/*
Our logo should be an <img /> as per http://csswizardry.com/2010/10/your-logo-is-an-image-not-a-h1/
However, as we're using the power of sprites we need to hide the <img /> from view. We could hide it off-screen but if we remove its opacity entirely a user can still interact with it when right-clicking.
*/
#logo img{
	display:block;
	opacity:0;
	filter:alpha(opacity = 1);
}





/*------------------------------------*\
	TYPE
\*------------------------------------*/
/*--- HEADINGS ---*/
h2{
	font-size:1.25em; /* 20px */
	line-height:1.2; /* 24px */
	margin-bottom:1.2em; /* 24px */
}
h3{
	font-size:1.125em; /* 18px */
	line-height:1.333; /* 24px */
	margin-bottom:1.333em; /* 24px */
}

/*--- LINKS ---*/
/*
.go is a spoofed link as per http://csswizardry.com/2011/01/maximising-hit-area-for-usability/
*/
a,
.go{
	outline:none;
	text-decoration:none;
	border-bottom:1px solid #ccc;
	
	-moz-transition:0.2s all linear;
	-webkit-transition:0.2s all linear;
	transition:0.2s all linear;
}
a:visited,
a:visited .go{
	color:#999;
	border-color:#eee;
}
a:hover,
a:active,
a:focus,
a:hover .go,
a:active .go,
a:focus .go{
	border-color:#597a8f;
}
a:active,
a:focus{
	position:relative;
	top:1px;
}
.go{
	font-weight:normal;
}
.go:after{
	content:"\00A0»";
	border-bottom:1px solid #fff;
}

/*--- PARAGRAPHS ---*/
.tagline{
	font:0.625em/2.4 "Helvetica Neue", Arial, sans-serif; /* 10px with a 24px line-height. */
	text-transform:uppercase;
	color:#fff;
	line-height:100px;
	white-space:nowrap;
}

/*--- LISTS ---*/
ul,
ol{
	margin-left:3em; /* 48px (24px x 2) */
}
ul ul,
ul ol,
ol ol,
ol ul{
	margin-bottom:0;
}
dd{
	margin-left:1.5em; /* 24px */
}

/* Tags */
.tag-list li{
	display:inline;
}
.tag-list li:after{
	content:",";
}
.tag-list li:last-child:after{
	content:".";
}

/* Social links */
#social{
	margin:0 0 0 -0.75em; /* 12px (24px / 2) */
}
#social li{
	float:left;
}
#social a{
	display:block;
	width:48px; /* 48px (24px x 2) */
	height:48px; /* 48px (24px x 2) */
	text-indent:-9999px;
	border:none;
	margin:0 0 0.75em 0.75em; /* 12px (24px / 2) */
	opacity:0.5;
	filter:alpha(opacity = 0.5);
}
#social a:hover{
	opacity:1;
	filter:alpha(opacity = 1);
}
.twitter a		{ background-position:-100px 0; }
.github a		{ background-position:-148px 0; }
.dribbble a		{ background-position:-196px 0; }
.forrst a		{ background-position:-244px 0; }
.google-plus a	{ background-position:-100px -96px; }
.instagram a	{ background-position:-244px -48px; }
.zootool a		{ background-position:-148px -48px; }
.vimeo a		{ background-position:-196px -48px; }
.youtube a		{ background-position:-100px -48px; }
.rss a			{ background-position:-148px -96px; }

/* Projects */
#projects h3{
	margin:0;
}
#projects a{
	display:block;
	border:none;
	color:#333;
}

/* Background image links */
#images li{
	display:none;
}
#bg-1 #bg-link-1,
#bg-2 #bg-link-2,
#bg-3 #bg-link-3,
#bg-4 #bg-link-4{
	display:list-item;
}

/*--- OTHER ---*/
abbr{
	cursor:help;
	border-bottom:1px dotted #333;
	border-color:inherit;
}





/*------------------------------------*\
	IMAGES
\*------------------------------------*/
img{
	max-width:100%;
	height:auto;
}





/*------------------------------------*\
	SHARED
\*------------------------------------*/
/*
Rather than writing properties over and over and repeating code we can simply tether selectors to one rule. This is pretty much having variables in CSS (update the colour once and everything gets the changes).
*/
h1,h2,h3,h4,h5,h6,a,a:hover{
	color:#597a8f;
}
p,
ul,
ol,
dl{
	margin-bottom:1.5em; /* 24px */
}
b,
strong,
dt{
	font-weight:700;
}
#logo,
#social a{
	background-image:url(../img/css/sprite.png);
}
.tag-list,
#images,
#social,
#projects{
	list-style:none;
}
.tag-list,
#images,
#projects{
	margin-left:0;
}





/*------------------------------------*\
	MISC
\*------------------------------------*/
/* Hide things off-screen moce accessibly than display:none; etc. */
.accessibility{
	position:absolute;
	left:-9999px;
}
::selection			{ color:#fff; background:#597a8f; }
::-moz-selection	{ color:#fff; background:#597a8f; }





/*------------------------------------*\
	RESPONSIVE
\*------------------------------------*/
/*--- NARROW ---*/
@media(max-width: 960px){
#page{
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
}
}

/*--- THIN ---*/
@media(max-width: 640px){

/* Download a smaller background image when viewing on a smaller screen. */
#bg-1	{ background-image:url(http://farm5.static.flickr.com/4005/4706825697_c0367e6dee_z.jpg); }
#bg-2	{ background-image:url(http://farm3.static.flickr.com/2741/4281699291_777192cd9f_z.jpg); }
#bg-3	{ background-image:url(http://farm5.static.flickr.com/4017/4717107886_dcc1270a65_z.jpg); }
#bg-4	{ background-image:url(http://farm5.static.flickr.com/4116/4877345244_6cf40b2d42_z.jpg); }

/* Rework the intro and the logo & tagline to be stacked, not side-by-side. */
.intro{
	text-align:center;
}
#logo{
	margin:0 auto 1.5em;
	background-position:left bottom;
	float:none;
}
.tagline{
	margin:0;
	line-height:2.4;
}

/* Remove page columns. */
#page{
	-moz-column-count:auto;
	-webkit-column-count:auto;
	column-count:auto;
}
}