/*------------------------------------*\
    $PAGE
\*------------------------------------*/
html{
    height:100%;
    font:100%/1.5 serif;
}

/**
 * Big page backgrounds.
 */
.page{
    @include vendor(background-size, cover);
    background-attachment:fixed;
}

.page--01   { background-image:url(../img/css/page/small/01.jpg); background-position:right center; }
.page--02   { background-image:url(../img/css/page/small/02.jpg); background-position:right top; }
.page--03   { background-image:url(../img/css/page/small/03.jpg); background-position:right top; }
.page--04   { background-image:url(../img/css/page/small/04.jpg); background-position:left top; }
.page--05   { background-image:url(../img/css/page/small/05.jpg); background-position:center top; }
.page--06   { background-image:url(../img/css/page/small/06.jpg); background-position:center center; }
.page--07   { background-image:url(../img/css/page/small/07.jpg); background-position:left top; }
.page--08   { background-image:url(../img/css/page/small/08.jpg); background-position:center top; }
.page--09   { background-image:url(../img/css/page/small/09.jpg); background-position:right top; }

@include media-query(lap-and-up){
    .page--01   { background-image:url(../img/css/page/medium/01.jpg); }
    .page--02   { background-image:url(../img/css/page/medium/02.jpg); }
    .page--03   { background-image:url(../img/css/page/medium/03.jpg); }
    .page--04   { background-image:url(../img/css/page/medium/04.jpg); }
    .page--05   { background-image:url(../img/css/page/medium/05.jpg); }
    .page--06   { background-image:url(../img/css/page/medium/06.jpg); }
    .page--07   { background-image:url(../img/css/page/medium/07.jpg); }
    .page--08   { background-image:url(../img/css/page/medium/08.jpg); }
    .page--09   { background-image:url(../img/css/page/medium/09.jpg); }
}

@include media-query(desk){
    .page--01   { background-image:url(../img/css/page/large/01.jpg); }
    .page--02   { background-image:url(../img/css/page/large/02.jpg); }
    .page--03   { background-image:url(../img/css/page/large/03.jpg); }
    .page--04   { background-image:url(../img/css/page/large/04.jpg); }
    .page--05   { background-image:url(../img/css/page/large/05.jpg); }
    .page--06   { background-image:url(../img/css/page/large/06.jpg); }
    .page--07   { background-image:url(../img/css/page/large/07.jpg); }
    .page--08   { background-image:url(../img/css/page/large/08.jpg); }
    .page--09   { background-image:url(../img/css/page/large/09.jpg); }
}

body{
    @extend .cf;
    background-image:url(../img/css/dot.gif);
    background-attachment:fixed;
    min-height:100%;
    padding:$base-spacing-unit;
}


/**
 * Photo credits
 */
.photo-credit{
    display:none;
}
@for $i from 1 through 9{
    .page--0#{$i} .photo-credit--0#{$i}{
        display:list-item;
    }
}


/**
 * Main content area
 */
.content{
    padding:$base-spacing-unit;
    background-color:#fafafa;
    @include vendor(box-shadow, 5px 5px 0 rgba(0, 0, 0, 0.1));

    @include media-query(desk){
        margin-bottom:100%;
        max-width:50%
    }

    .page--04 &,
    .page--05 &,
    .page--07 &{
        @include media-query(desk){
            float:right;
        }
    }

}
